*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
*.o
*.so
*.a
libUVCCamera.so
.idea/
libuvccamera/build/
libuvccamera/src/main/obj/
